
<div class="container">
    <section class="section">
        <div class="block is-flex is-justify-content-space-between">
            <h3 class="title is-3">Kindle Vocabulary</h3>
            <button class="button is-primary" (click)="getCSV()">Export CSV</button>
        </div>

        <article class="message is-info" *ngFor="let lookup of lookups">
            <span *ngIf="{word: lookup.getWord(), definitions: getDefinitions(lookup.getWord())} as variables">
                <div class="message-header is-flex is-justify-content-space-between">
                    <p><ruby><rb>{{ variables.word.word }}</rb> <rt>{{ variables.word.stem.replaceAll("‐", "") }}</rt></ruby></p>
                    <p [innerHTML]="getLookedUpSentence(lookup)"></p>
                </div>
                <div class="message-body" *ngIf="variables.definitions.length > 0">
                    <div class="my-3" *ngFor="let definition of variables.definitions">{{definition}}</div>
                </div>
                <div class="message-body" *ngIf="variables.definitions.length == 0">
                    No definitions found.
                </div>
            </span>
        </article>
    </section>
</div>

<!--<div class="lookup" *ngFor="let lookup of lookups">
    <h3>Sentence</h3>
    <div [innerHTML]="getLookedUpSentence(lookup)"></div>
    <div class="definition" *ngFor="let definition of getDefinitions(lookup.getWord())">
        {{definition}}
    </div>
</div>-->