<div class="file has-name">
    <label class="file-label">
      <input class="file-input" type="file" name="resume" (change)="onChange($event)" [accept]="allowedExtensions">
      <span class="file-cta">
        <span class="file-icon">
            <span class="material-symbols-outlined">
                upload
            </span>
        </span>
        <span class="file-label">
          Choose a file…
        </span>
      </span>
      <span class="file-name">
        {{ filename }}
      </span>
    </label>
</div>
