:host {
    ol {
        li {
            color: rgb(48, 48, 48);
        }
    }

    ::ng-deep {
        .word {
            color: black !important;
            font-weight: 400;
            text-decoration: underline;
        }   
    }
}